html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto; /* ここでスクロールを有効にする */
}

button{
	background-color: #eee;
}

.tabs {
  margin-top: 1em;
}

.tab-button {
  padding: 10px 20px;
  margin-right: 0px;
  color: black;
  background-color: #eee;
  border: none;
  cursor: pointer;
}

.tab-button.active {
  background-color: #ccc;
}

.tab-content {
  margin-top: 0px;
  border-top: 1px solid #aaa;
  padding-top: 10px;
}

html, body {
  display: flex;
  flex-direction: column;
}

select:focus {
 	outline: none;
    box-shadow: none !important;
    border: 1px solid #ccc; /* 通常時と同じ色に固定 */
}

.policy-list {
	margin: 10px 0;
}

.policy-item {
	background-color: #f0f0f0;
	padding: 5px 10px;
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 4px;
}

.policy-item button {
	margin-left: 10px;
}